<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	<script type="text/javascript">
			
			var out;
			var viewUploadedAjax;
			var preDir;
			var curDir;

			window.onload = function(){

			}

	</script>
	<style type="text/css">
			
			table,tr,th,td{
				border-style: solid;
				border-collapse: collapse;
			}

	</style>

	<title>View Uploaded</title>
</head>
<body>
	<button onclick="loadUploadedFile('')"> Show FIles</button>
	<button onclick="backLoad()" > Back </button>
	<div id="out"></div>
</body>
</html>